.clock {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  border-radius: 50%;
  border: 5px solid #333;
}

.clock-face {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face .number {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: #222;
}

.number.number-one {
  top: 11%;
  left: 70%;
}

.number.number-two {
  top: 27%;
  left: 85%;
}

.number.number-three {
  top: 50%;
  left: 93%;
  transform: translate(-50%, -50%);
}

.number.number-four {
  bottom: 26%;
  left: 85%;
}

.number.number-five {
  bottom: 12%;
  left: 70%;
}

.number.number-six {
  bottom: 0%;
  left: 49%;
  transform: translate(-50%, -70%);
}

.number.number-seven {
  bottom: 12%;
  right: 70%;
}

.number.number-eight {
  bottom: 27%;
  right: 84%;
}

.number.number-nine {
  top: 50%;
  left: 5%;
  transform: translate(50%, -50%);
}

.number.number-ten {
  top: 27%;
  right: 83%;
}

.number.number-eleven {
  top: 11%;
  right: 69%;
}

.number.number-twelve {
  top: 10%;
  left: 49%;
  transform: translate(-50%, -70%);
}

.hour-hand {
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: black;
  top: 30%;
  left: 49%;
  transform-origin: 50% 100%;
  transform: rotate(90deg) translateX(-50%);
}

.minute-hand {
  position: absolute;
  width: 4px;
  height: 60px;
  background-color: black;
  top: 20%;
  left: 49%;
  transform-origin: 50% 100%;
  transform: rotate(180deg) translateX(-50%);
}

.second-hand {
  position: absolute;
  width: 2px;
  height: 70px;
  background-color: red;
  top: 15%;
  left: 49%;
  transform-origin: 30% 100%;
  transform: rotate(270deg) translateX(-50%);
}
